@model List<ResultNewsDto>
@{
    
    var selectedNews = Model.FirstOrDefault(); // veya seçmek istediğiniz başka bir kritere göre belirleyin

    if (selectedNews != null)
    {
        ViewData["Title"] = selectedNews.NewsTitle;
        ViewData["ogDescription"] = selectedNews.NewsSummary;
        // ViewData["ogImage"] = selectedNews.ImageUrl;
        ViewData["url"] = $"https://www.vatan19tv.com/HaberDetayi?newsID={selectedNews.NewsID}";
    }

    Layout = "~/Views/Default/Index.cshtml";
}

<section class="block-wrapper no-sidebar">
    <div class="container">

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="single-post">
                    @foreach (var item in Model)
                    {
                        <div class="post-header mb-5 text-center">

                            <a class="post-category " href="@Url.Action("Index", "HomePage", new { categoryID = item.CategoryID })">İlgili Kategoriye Git</a>
                            <p style="font-size:13px">@item.NewsEnterTime</p>
                            <h1 class="post-title" data-newstitle="@item.NewsTitle">
                                @item.NewsTitle
                            </h1>
                            <p>

                                @item.NewsSummary
                            </p>
                        </div>
                        <div class="post-body">
                            <div class="post-featured-image">
                                @foreach (var image in item.NewsImage.Where(x => x.ContentImage == false))
                                {
                                    <img height="500px" width="750px" src="https://api.vatan19tv.com/@image.Path" class="" alt="featured-image" data-newsimage="https://api.vatan19tv.com/@image.Path">
                                }

                                
                            </div>
                            <div class="fb-share-button" data-href="https://www.vatan19tv.com/HaberDetayi?newsID=@item.NewsID" data-layout="" data-size="">
                                <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.vatan19tv.com%2FHaberDetayi%3FnewsID%3D2097&amp;
                                        src=sdkpreparse" class="fb-xfbml-parse-ignore">
                                    Paylaş
                                </a>
                            </div>
                            <div class="entry-content">
                                <p>
                                    @item.NewsContent
                                </p>
                                @foreach (var image in item.NewsImage.Where(x => x.ContentImage == true))
                                {
                                    <div class="text-center">
                                        <img height="400px" width="550px" src="https://api.vatan19tv.com/@image.Path" class="" alt="featured-image" style="margin-bottom:30px;margin-top:30px">
                                    </div>
                                }
                                <div class="media mb-4 single-media">

                                    <div class="media-body">
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/tr_TR/sdk.js#xfbml=1&version=v18.0" nonce="a6GfdM36"></script>