@model IPagedList<ResultNewsWithCategoryDto>
@using X.PagedList
@using X.PagedList.Mvc
@using X.PagedList.Mvc.Core
@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/AdminLayout/Index.cshtml";
	int count = 0;
}

<div class="content">
	<div class="container-fluid">
		<h4 class="page-title">Haber İşlemleri</h4>
		<a href="/News/CreateNews/" class="btn btn-outline-primary">Yeni Haber Girişi</a>
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header">
						<div class="card-title">Haber Listesi</div>
					</div>
					<div class="card-body">
						<div class="card-sub">
							Haber ile ilgili işlemleri aşağıdan gerçekleştirebilirsiniz.
						</div>
						<table class="table mt-3">
							<thead>
								<tr>
									<th scope="col"style="max-width: 100px; max-height: 150px">#</th>
									<th scope="col"style="max-width: 100px; max-height: 150px">Haber Başlığı</th>
									<th scope="col" style="max-width: 100px; max-height: 150px">Haber Özeti</th>
									<th scope="col" style="max-width: 100px; max-height: 150px">Haber İçeriği</th>
									<th scope="col" style="max-width: 100px; max-height: 150px">Haber Yazılış Saati</th>
									<th scope="col" style="max-width: 100px; max-height: 150px">Kategorisi</th>
									<th scope="col" style="max-width: 100px; max-height: 150px">Sil</th>
									<th scope="col" style="max-width: 100px; max-height: 150px">Güncelle</th>
									<th scope="col" style="max-width: 100px; max-height: 150px">Başlık Görseli Ekle</th>
								</tr>

							</thead>
							<tbody>
								@foreach (var item in Model.OrderByDescending(x => x.NewsEnterTime))
								{
									count++;
									<tr>
										<th style ="max-width: 100px; max-height: 150px">@count</th>
										<td style="max-width: 100px; max-height: 150px">@(item.NewsTitle.Length > 25 ? item.NewsContent.Substring(0, 25) + "..." : @item.NewsTitle)</td>
										<td style="max-width: 100px; max-height: 150px">@(item.NewsSummary.Length > 25 ? item.NewsSummary.Substring(0, 25) + "..." : @item.NewsSummary)</td>
										<td style="max-width: 100px; max-height: 150px">@(item.NewsContent.Length > 25 ? item.NewsContent.Substring(0, 25) + "..." : @item.NewsContent)</td>
										<td style="max-width: 100px; max-height: 150px">@item.NewsEnterTime</td>
										<td style="max-width: 100px; max-height: 150px">@item.CategoryName</td>
										<td style="max-width: 100px; max-height: 150px"><a href="/News/DeleteNews/@item.NewsID" class="btn btn-outline-danger">Sil</a></td>
										<td style="max-width: 100px; max-height: 150px"><a href="/News/UpdateNews/@item.NewsID" class="btn btn-outline-success">Güncelle</a></td>
										<td style="max-width: 100px; max-height: 150px"><a href="/NewsImage/CreateNewsImage/@item.NewsID" class="btn btn-outline-info">Resim Ekle</a></td>
										
										
									</tr>
									<tr>
										@if (item.NewsImage != null && item.NewsImage.Any())
										{
											foreach (var image in item.NewsImage)
											{
												<td style="max-width: 100px; max-height: 150px">
													<div class="d-flex flex-column align-items-center">
														<img src="https://localhost:7187/@image.Path" height="75px" width="75px" />
														<a href="/NewsImage/DeleteNewsImage/@image.NewsImageID" class="btn btn-outline-danger mt-2">Resimi Sil</a>
													</div>
												</td>
											}
										}
										else
										{
											<td class="text-danger">
												Görsel Yok
											</td>
										}
									</tr>
								}
							</tbody>
						</table>
						<br />
						@Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }))
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


