@model List<ResultNewsWithCategoryDto>
<div class="sidebar">
	<div class="scrollbar-inner sidebar-wrapper">
		<div class="user">			
			<div class="info">
				<a class="" data-toggle="collapse" href="#collapseExample" aria-expanded="true">
					<span>
						Haber Sitesi Yönetim
						<span class="user-level">Admin</span>
					</span>
				</a>
				<div class="clearfix"></div>				
			</div>
		</div>
		<ul class="nav">	
			<li class="nav-item">
				<a href="@Url.Action("Index","UIHomePage")">
					<i class="la la-safari"></i>
					<p>Siteye Git</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="@Url.RouteUrl("AdminKategori")">
					<i class="la la-navicon"></i>
					<p>Kategoriler</p>
				</a>
			</li>
@* 			<li class="nav-item">
				<a href="@Url.RouteUrl("AdminHaber")">
					<i class="la la-comment"></i>
					<p>Haberler</p>
				</a>
			</li> *@
			<li class="nav-item">
				<a href="@Url.RouteUrl("Adminhabergorsel")">
					<i class="la la-th"></i>
					<p>Haber Görselleri</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="@Url.RouteUrl("AdminSosyalMedya")">
					<i class="la la-internet-explorer"></i>
					<p>Sosyal Medya Linkler</p>
				</a>
			</li>
			<li class="nav-item">
				@foreach (var item in Model)
				{
					<a href="@Url.RouteUrl("AdminKategoriHaberler", new { id = item.CategoryID})">
						<i class="la la-navicon"></i>
						<p>@item.CategoryName</p>
					</a>
				}
				
			</li>
		</ul>
	</div>
</div>
